.App {
  text-align: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 180px min-content auto min-content;

  max-width: 100%;
  min-height: 100vh;
}
