@import "./../../assets/variables.css";

.nav {
  margin: 0;
  padding: var(--wrapper-padding);
  display: flex;
  flex-flow: row nowrap;
}

.nav__link,
.nav__link:link {
  color: hsla(var(--color-fg-primary), 1);
  font-weight: var(--font-weight-medium);
  border: 2px solid hsla(var(--color-fg-primary), 0.8);
  padding: var(--font-size-small);
  text-transform: capitalize;
  text-decoration: none;
  margin-right: var(--font-size-small);
  margin-bottom: var(--font-size-large);
}

.nav__link:visited {
  color: hsla(var(--color-fg-primary), 0.5);
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus {
  color: rgba(var(--color-bg-primary), 1);
  font-weight: var(--font-weight-heavy);
  background-color: hsla(var(--color-fg-primary), 1);
  transition: all ease-in 100ms;
}

.nav__link--hidden {
  display: none;
}
